@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800); 
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
/*************************
*******Typography******
**************************/
html { font-size:16px; }

body {
   
    /* background:#331b1b; */
    background-color: black;
    height: 100%; 
    /* background-attachment: fixed; */
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #b90b0bf8;
}

h1 {
    font-size: 2rem;
/*    color: #fff;*/
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
}

img{
    max-width: 100%;
    height: 100%;
}
iframe{
    max-height: 100%;
}

h4 {
    font-size: 1.25rem;
}

a {
    color: #b90b0bf8;
    -webkit-transition: color 300ms, background-color 300ms;
    transition: color 300ms, background-color 300ms;
}

a:hover,
a:focus {
    color: #b90b0bf8;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #fff;
}



.btn-primary {
    padding: 8px 20px;
    background: #b90b0bf8;
    color: #fff;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #b90b0bf8;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-transparent {
    border: 3px solid #fff;
    background: transparent;
    color: #fff;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
    color: #111;
    text-decoration: none;
    outline: none;
}

.dropdown-menu {
    margin-top: -1px;
    min-width: 180px;
}

.center h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
}

.media>.pull-left {
    margin-right: 20px;
}

.media>.pull-right {
    margin-left: 20px;
}

.body section {
    padding: 70px 0;
}

.center {
    text-align: center;
    padding-bottom: 55px;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 1rem;
    line-height: 24px;
    font-weight: 400;
}

.transparent-bg {
    background-color: transparent !important;
    margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.page-title{
    padding: 60px 0;
    background-image: url('https://images.unsplash.com/photo-1549060279-7e168fcee0c2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=jonathan-borba-zfPOelmDc-M-unsplash.jpg');
}

.page-title h1{
    color: #fff;
    margin: 0;
    text-align: center;
    font-size: 3rem;
}


/*************************
*******Header******
**************************/

#header {
    /* border-bottom: 2px solid #080201d3; */
    /* position: relative; */
    background-color: black;
}

#header .search {
    display: inline-block;
}

/* #bottom {
    position: relative;
    height: 40vh;
} */

.navbar>.container .navbar-brand {
    margin-left: 0;
}



.social {
    text-align: right;
}

.social-share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.social-share li {
    display: inline-block;
    margin-right: 10px;
}

ul.social-share li a {
    display: inline-block;
    color: #fff;
    background: #404040;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 2px;
}

ul.social-share li a:hover {
    background: #b90b0bf8;
    color: #fff;
}

/* .search i {
    color: #fff;
}

input.search-form {
    background: transparent;
    border: 0 none;
    width: 60px;
    padding: 0 10px;
    color: #FFF;
    -webkit-transition: all 400ms;
    transition: all 400ms;
}

input.search-form::-webkit-input-placeholder {
    color: transparent;
}

input.search-form:hover::-webkit-input-placeholder {
    color: #fff;
}

input.search-form:hover {
    width: 180px;
} */

.navbar-brand {
    padding: 10px;
    /* border-radius: 15px; */
   height: 70px;
}

.logo {
    padding: 5px;
    border-radius: 5px;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    /* background: rgb(36,0,2); */
    background: linear-gradient(90deg, rgba(59, 3, 6, 0.657) 40%,  #b90b0bf8 100% );
    /* background: rgb(14, 13, 13); */
    
}
.navbar::before{
    content:"";
    /* background-color:#000; */
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0.2;
  }

.navbar-nav {
    margin-top: 12px;
}

.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
}
.navbar-inverse .navbar-toggle{
    background-color:black;
    font-size:0.75rem;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #ffffff;
    line-height: 24px;
    display: inline-block;
    font-weight: 300;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #b90b0bf8;
    color: #fff;
}

.navbar-inverse {
    border: none;
}

.navbar-inverse .navbar-brand {
    font-size: 2rem;
    line-height: 50px;
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #b90b0bf8;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
    background-color: rgba(151, 3, 3, 0.85);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
    border: 0;
    padding: 0;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
    left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before {
    position: absolute;
    top: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu>li>a {
    padding: 8px 15px;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:hover>a,
.navbar-inverse .navbar-nav .dropdown-menu>li:focus>a,
.navbar-inverse .navbar-nav .dropdown-menu>li.active>a {
    background-color: #b90b0bf8;
    color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu>li:last-child>a {
    border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu>li.divider {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-top: 0;
    padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

 .wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}

.section { 
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    /* background-size: 100%; */
    z-index: -1;
} 

/* .static {
    background-color: black;
    background-size: cover;
} */

.img-1::after {
    /* background: url("https://player.vimeo.com/video/501292614"); */
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* .feature::after {
    background-color: black;
   
   
} */


#home {
   /* display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column; */
   
}



  
#home h1{
    
    font-size:3rem;
    padding: 0;
    margin-bottom: 5px;
    /* margin: 20px; */
    /* margin-top: 100px; */
    color: #ffffff;
    text-shadow: 2px 2px 0 #000000f8, 2px -2px 0 #000000f8, -2px 2px 0 #000000f8, -2px -2px 0 #000000f8, 2px 0px 0 #000000f8, 0px 2px 0 #000000f8, -2px 0px 0 #000000f8, 0px -2px 0 #000000f8;
    color: #ffffff;

}
    
 
  
#home h4{
    font-size: 1.2rem;
   
    color: #fff;
    text-shadow: 2px 2px 0 #0C0503, 2px -2px 0 #0C0503, -2px 2px 0 #0C0503, -2px -2px 0 #0C0503, 2px 0px 0 #0C0503, 0px 2px 0 #0C0503, -2px 0px 0 #0C0503, 0px -2px 0 #0C0503;
    
} 


.btn {
    background-color: #b90b0bf8;
    color: #fff;
    margin: 10px;
}



/*********** Services **********/





#feature .container .center h2 {
    font-size: 2.75rem;
        font-weight: 700;
    color: #b90b0bf8;
    
}

#feature .container {
    position:relative;
}


.features .feature-wrap {
    margin-bottom: 35px;
    
}

.features .feature-wrap .img {
    
    
    height: 200px;
    
    /* text-align: center; */
    box-align: center;
    /* line-height: 40px;
    color: #D0D0D0; */

    /* font-size: 1.2rem; */
    border-radius: 4px; 
    -webkit-transition: .4s;
    transition: .4s;
    margin-bottom: 25px;
    
}



.features .feature-wrap h4 {
    font-size: 2rem;
    color: #b90b0bf8;
    margin: 0;
    margin-bottom: 24px;
    
}

.features .feature-wrap p {
    font-size: 1rem;
    margin: 0;
    line-height: 26px;
    color: #5c5858;
}

/********** WHY AF ************/


#adaptfit {
    display:flex;
    align-items:center;
    justify-content:center;
    /* flex-direction:column;   */
    /* height: 70vh; */
    margin-top: 70px;
}



#adaptfit .content {
    /* margin: 60px; */
    color: #000000;
}

#adaptfit h2 {
    font-size: 2.75rem;
        font-weight: 700;
    color: black;
    margin: 40px;
}
#adaptfit p{
    color: #F9FAFB;
    margin: 40px;
    font-size: 1.5rem;
    text-shadow: 1.5px 1.5px 0 #0C0503, 1.5px -1.5px 0 #0C0503, -1.5px 1.5px 0 #0C0503, -1.5px -1.5px 0 #0C0503, 1.5px 0px 0 #0C0503, 0px 1.5px 0 #0C0503, -1.5px 0px 0 #0C0503, 0px -1.5px 0 #0C0503;

}

#adaptfit .btn {
    border: black 2px solid;
    
}

#adaptfit .btn h2{
    font-size: 1.2rem;
}

/* JAI_ABOUT */

 #jai-about{
   background-color: rgba(162, 10, 10, 0.577);
} 

#jai-about h2 {
    color: black;
    font-size: 2.75rem;
        font-weight: 700;
    margin-bottom: 2em;
}


 /* #main-slider .container  {
    display: flex;
    
    
 }   */

#main-slider h2 {
    color:  #b90b0bf8;
} 


#main-slider .carousel {
    margin-top: 50px;
    margin-left: auto;
   
}
/* #main-slider .carousel .carousel-content {
    
    font-size: 0.75rem;
    font-weight: 400;
    color: #fff;
    /* line-height: 28px; */
    

/* #main-slider .carousel .carousel-caption {
    margin-top: 10px;
} */

#main-slider h1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin: 0 0 8px;
    /* color: #fff; */
}

#main-slider .carousel .btn-slide {
    padding: 0 30px;
    line-height: 42px;
    background: #b90b0bf8;
    color: #fff;
    border-radius: 4px;
    margin-top: 40px;
    display: inline-block;
    font-size: 0.5rem;
    margin-right: 10px;
    border: 1px solid #b90b0bf8;
}

#main-slider .carousel .btn-slide.white {
    border: 1px solid rgba(255, 255, 255, 0.44);
    background: rgba(255, 255, 255, 0.26);
    color: #fff;
}

/* #main-slider .carousel .slider-img { */
    /* text-align: right; */
    /* position: absolute; */
    /* height: 130px; */
/* } */

#main-slider .carousel .item {
    /* background-position: 100%; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */ 
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    /* width: 80%; */
    display: block !important;
    /* height: 100%; */
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    /* display: -webkit-box !important;
    display: -ms-flexbox !important; */
    display: flex !important;
    /* -webkit-box-orient: vertical;
    -webkit-box-direction: normal; */
    /* -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center; */
    justify-content: center;
}
#main-slider h2{
    text-shadow: 1px 1px 0 #b90b0bf8, 1px -1px 0 #b90b0bf8, -1px 1px 0 #b90b0bf8, -1px -1px 0 #b90b0bf8, 1px 0px 0 #b90b0bf8, 0px 1px 0 #b90b0bf8, -1px 0px 0 #b90b0bf8, 0px -1px 0 #b90b0bf8;
    font-size: 1.75rem;
    color: white;
    
}
    #main-slider .carousel .item:first-child {
    top: auto;
    position: relative;
}



#main-slider .carousel .item.active {
    opacity: 1;
    -webkit-transition: opacity ease-in-out 500ms;
    transition: opacity ease-in-out 500ms;
    z-index: 1;
}

#main-slider .carousel-indicators {
    margin: 0;
    left: 0;
    width: 100%;
    /* bottom: 80px; */
    position: relative;
}

#main-slider .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: transparent;
    margin: 0 5px;
    position: relative;
    border: 1px solid #fff;
}

#main-slider .carousel-indicators li.active {
    background-color: #b90b0bf8;
    border: 1px solid #b90b0bf8
}

#main-slider .active .animation.animated-item-1 {
    -webkit-animation: fadeInUp 300ms linear 300ms both;
    animation: fadeInUp 300ms linear 300ms both;
}

#main-slider .active .animation.animated-item-2 {
    -webkit-animation: fadeInUp 300ms linear 600ms both;
    animation: fadeInUp 300ms linear 600ms both;
}

#main-slider .active .animation.animated-item-3 {
    -webkit-animation: fadeInUp 300ms linear 900ms both;
    animation: fadeInUp 300ms linear 900ms both;
}

#main-slider .active .animation.animated-item-4 {
    -webkit-animation: fadeInUp 300ms linear 1200ms both;
    animation: fadeInUp 300ms linear 1200ms both;
}




/************* Sign Up Banner *************/


#banner .container {
    display: flex;
    align-content: center;
    justify-content: center;
    /* height: 50vh; */
    color: #fff;
    text-align: center;
    
}



#banner h2,
#banner h3 {
    color: #fff;
}

#banner .btn {
    border: black 2px solid;
    display:flex;
    white-space: normal;
}



/*************************
********* Packages Page CSS ******
**************************/
#packages {
    padding: 1px;
}

#packages h2 {
    font-size: 25px;
}
#packages p {
    font-size: 20px;
}
#packages h3 {
    color: #b90b0bf8
}
#packages ul {
    margin-top: 20px;
}
#packages ul p {
    color: white;
}

#packages a {
    margin-top: 40px;
}
#packages .btn h3{
    font-size: 24px;
    color:black;
    font-weight: bold;
}



/*************************
********* About Page CSS ******
**************************/


.card-img{
   
    border: #581111 5px solid;
   
}

.about-content{
    background-color: black;
    color: white;
    opacity:0.6;
    font-size: 16px;
    /* line-height: 26px; */
    margin-top: 60px;
    
}


.about-content h2{
    font-size: 3rem;
    color: #a21f1f;
    font-weight: 700;
    margin: 0 0 25px;
}
.card-body h1{
    color: #801818;
    font-size: 3rem;
    
}
.center{
    padding-bottom: 1px;
}
.about-content p{
    font-size: 1.5rem;
}

.mb-3 {
    margin: 30px;
    
}

#about-banner a .btn {
    
    white-space: nowrap;
    
}
#about-banner h2 {
    padding-top: 10px;
    color: #fff;
}


/***********************
****Service page css****
***********************/

.services {
    padding: 0;
}


/*********************
****Login page css*****
**********************/

#login-page {
    background-image: url(https://images.unsplash.com/photo-1507652955-f3dcef5a3be5?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=sydney-rae-geM5lzDj4Iw-unsplash.jpg);
    background-size: cover;
    height: 120vh;
    background-position: center;
}

.login  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    

}


.login h2 {
    
    margin: 30px;
    /* margin-bottom: 10px; */
    color: black;
    
}


.login-card {
    min-height: 70vh;
    background-color: rgb(63, 4, 4);
    opacity: .8;
    margin-right: 20px;
    padding: 50px;
    /* position: center; */
    
}


/******************
 404 page css
 ******************/

#error .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success:hover {
    background-color: #EBEBEB;
    border-color: #EBEBEB;
    color: #4E4E4E;
}

#error h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 250px;
    line-height: 190px;
    margin-top: 0;
    margin-bottom: 40px;
}

#error p {
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 50px;
}

#error{
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}





/***********************
********* Footer ******
************************/

#bottom {
    /* display: block; */
   height: 30vh;
   /* width: 100%; */
    /* background:#000; */
    background: linear-gradient(90deg, rgba(59, 3, 6, 0.657) 40%,  #b90b0bf8 100% );
    /* border-bottom: 5px solid #b63217d3;
    border-top: 5px solid #b63217d3; */
    /* font-size: 20px; */
    
    padding-top: 20px;
    margin-top: 5px;
    
    
    text-shadow: 1.5px 1.5px 0 #0C0503, 1.5px -1.5px 0 #0C0503, -1.5px 1.5px 0 #0C0503, -1.5px -1.5px 0 #0C0503, 1.5px 0px 0 #0C0503, 0px 1.5px 0 #0C0503, -1.5px 0px 0 #0C0503, 0px -1.5px 0 #0C0503;
    color: #ffffff ; 
}

.footer-logo{
    /* display: flex; */
    height: 80px; 
    /* max-width: 150px;  */
}

#bottom .footer-bar {
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    /* flex-direction: row; */
    float: right;
}

#bottom li {
    /* display: flex; */
    /* margin-top: 0;
    margin-bottom: 15px; */
    text-transform: uppercase;
    /* font-size: 18px; */
     
    /*font-weight: 700; */
}

#bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#bottom ul li {
    /* display: flex; */

    padding: 2px 0;
}

/* #bottom ul li a {
    color: #808080;
    font-weight: 300;
}

#bottom ul li a:hover {
    color: #b90b0bf8;
} */

/* #bottom .widget {
    margin-bottom: 0;
    padding-left: 15px;
} */

/* #footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #2e2e2e;
    font-weight: 300;
}

#footer a {
    color: #fff;
}

#footer a:hover {
    color: #b90b0bf8;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul>li {
    display: inline-block;
    margin-left: 15px;
} */
